.form-container{
    margin: 4rem 6rem;
    color: #2a2a2a;
}

.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    
}

.form-container form input, textarea {
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid #2a2a2a;
    width: 100%;
}

.form-container form label{
    position: relative;
    bottom: 70px;
    transition: 0.5s ease-in-out;

}

.form-container form input:valid ~ label{
    bottom: 100px;
    color: blue;
    font-size: 12px;
    font-weight: 500;
    
}

@media screen and (max-width:850px){
    .form-container{
        margin: 4rem 2rem;
    }

    .form-container form{
        padding-top: 2rem;
        width: 90%;
    }
    
}